@use '../fluid' as *;
@use '../vars' as *;

.content-card {
  overflow: hidden;
  height: 100%;
  background: #f8f9fe;
  border-radius: $radius-sm;

  &__link {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: fluid(20px, 40px);
  }

  &__image {
    order: 2;
    width: 100%;
    object-fit: cover;

    &--placeholder {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: rem(180px);
      background: #edf1ff;

      img {
        width: min(80%, rem(260px));
        height: auto;
        object-fit: contain;
      }
    }
  }

  &__body {
    display: contents;
  }

  &__date {
    order: 1;
    margin-bottom: rem(20px);
    color: var(--blue);
    font-size: fluid(16px, 20px);
    font-weight: 700;
    line-height: 120%;
  }

  &__title {
    order: 3;
    margin: rem(18px) 0 0;
    font-family: var(--font-family);
    font-size: fluid(14px, 20px);
    font-weight: 500;
    line-height: 130%;
  }

  &__text {
    display: -webkit-box;
    order: 4;
    overflow: hidden;
    margin: rem(10px) 0 0;
    color: #97989b;
    font-size: fluid(14px, 16px);
    line-height: 130%;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }

  &__more {
    order: 5;
    margin-top: auto;
    padding-top: rem(16px);
    color: var(--blue);
    font-size: fluid(14px, 16px);
    font-weight: 500;
  }

  @media (max-width: $breakpoint-mobile) {
    border-radius: $radius-xs;

    &__link {
      padding: rem(16px);
    }

    &__date {
      margin-bottom: rem(14px);
    }

    &__title {
      margin-top: rem(14px);
    }
  }
}
