@use '../vars' as *;
@use '../fluid' as *;

.section {
  position: relative;
  z-index: 1;
  padding: fluid(20px, 60px) 0;

  &__title {
    font-family: var(--second-family);
    margin: 0 0 fluid(20px, 40px);
    font-weight: 500;
    font-size: fluid(20px, 32px);
    line-height: 110%;
    color: var(--black);
  }
}
